<h1>Welcome to Cheque-it-out</h1>
<p>The one and only place to do cheques</p>
<p>I will be using the numbers and words gem and then I will try to do it myself</p>
<p>Use rails built in created at to set cheque date?</p>