<div class="navbar">
    <div class="navbar-inner", style ="background-color: #E5F5E1; background-image: none;">
        <%= link_to "Cheque-it-Out", root_path, :class => 'brand', :style => "float:left; font-family: 'Sail', cursive; font-size:40px; color: #1C451C" %>
        <%= image_tag "chequeLogo.png", :style => "width:50px; padding-top:4px; float:left" %>
        <ul class="nav">
            <li><%= link_to "Cheque List", cheques_path %></li>
        </ul>
    </div>
</div>