<div class="navbar">
    <div class="navbar-inner">
        <%= link_to "Cheque-it-Out", root_path, :class => 'brand', :style => "float:left" %>
        <%= image_tag "chequeLogo.png", :style => "width:50px; padding-top:4px; float:left" %>
        <ul class="nav">
            <li><%= link_to "Cheques", cheques_path %></li>
        </ul>
    </div>
</div>